.container
  .row
    .col-lg-12
      %h1
        .center
          = @org_name
      .row
        .col-lg-4
          %ul
            = link_to "View Employees", members_path
          %ul
            = link_to "View Positions", positions_path
          %ul
            = link_to "View Hops", hops_path
          %ul
            = link_to "View Fermentables", fermentables_path
          %ul
            = link_to "View Yeasts", yeasts_path
          %ul
            = link_to "View Recipes", recipes_path
          %ul
            = link_to "View Beer", beers_path
          %ul
            = link_to "View Inventory", materials_path
          %ul
            = link_to "View Sales Orders", sales_orders_path
          %ul
            = link_to "View Purchase Orders", purchase_orders_path
          %ul
            = link_to "View Finished Goods", finished_goods_path
        .col-lg-4
          %ul
            = link_to "Estimated Weekly Expenses", expenses_path
          %ul
            = link_to "Weekly Revenues", revenues_path
          %ul
            = link_to "Weekly Demand", demands_path
