%h1 Listing inventories

%table
  %tr
    %th Quantity
    %th Measurement
    %th Materiable
    %th Materiable type
    %th Tenant
    %th
    %th
    %th

  - @inventories.each do |inventory|
    %tr
      %td= inventory.quantity
      %td= inventory.measurement
      %td= inventory.materiable_id
      %td= inventory.materiable_type
      %td= inventory.tenant_id
      %td= link_to 'Show', inventory
      %td= link_to 'Edit', edit_inventory_path(inventory)
      %td= link_to 'Destroy', inventory, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Inventory', new_inventory_path
