%p#notice= notice

%p
  %b Quantity:
  = @inventory.quantity
%p
  %b Measurement:
  = @inventory.measurement
%p
  %b Materiable:
  = @inventory.materiable_id
%p
  %b Materiable type:
  = @inventory.materiable_type
%p
  %b Tenant:
  = @inventory.tenant_id

= link_to 'Edit', edit_inventory_path(@inventory)
\|
= link_to 'Back', inventories_path
