= simple_form_for @position do |f|
  - if @position.errors.any?
    #error_explanation
      %h2= "#{pluralize(@position.errors.count, "error")} prohibited this position from being saved:"
      %ul
        - @position.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name, input_html: { class: 'form-control' }
  = f.input :pay_type, input_html: { class: 'form-control' }, collection: Position::PAY_TYPES
  = f.input :pay_rate, input_html: { class: 'form-control' }
  = f.input :description, input_html: { class: 'form-control' }
  .space
  = f.submit 'Save', class: "btn btn-primary btn-block"
