.container
  .row
    .col-lg-12
      - content_for :title, "Employees"
      .center
        %h1 Listing positions
      .col-lg-5
        = link_to 'New Position', new_position_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Name
          %th Pay type
          %th Pay rate
          %th Description
          %th
          %th
          %th

        - @positions.each do |position|
          %tr
            %td= position.name
            %td= position.pay_type
            %td= position.pay_rate
            %td= position.description
            %td= link_to 'Show', position, class: "btn btn-info btn-sm"
            %td= link_to 'Edit', edit_position_path(position), class: "btn btn-default btn-sm"
            %td= link_to 'Destroy', position, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"


