%p#notice= notice

%p
  %b Name:
  = @position.name
%p
  %b Pay type:
  = @position.pay_type
%p
  %b Pay rate:
  = @position.pay_rate
%p
  %b Description:
  = @position.description

= link_to 'Edit', edit_position_path(@position)
\|
= link_to 'Back', positions_path
