.container
  .row
    .col-lg-6.col-lg-offset-3
      .center
        %h2 New Brewery Sign up
      %i
        If you're a member of an existing group in our system, 
        click the activate link in the invitation email from your organization's admin.
        You should not sign up for a new organizational account.
        %br
        .flash
          - flash.each do |type, message|
            %div{ :class => "message #{type}" }
              %p= message
        - flash.clear  # clear contents so we won't see it again

        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f|
          = devise_error_messages!
          = f.input :email, input_html: { class: 'form-control' }
          = f.input :password, input_html: { class: 'form-control' }
          = f.input :password_confirmation, input_html: { class: 'form-control' }
          = simple_fields_for :tenant  do |w|
            = w.input :name, label: "Brewery Name", input_html: { class: 'form-control' }
            - if ::Milia.use_coupon
              - @coupon ||= {}
              = text_field_tag "coupon[coupon]", @coupon['coupon'].to_s, size: 8

          .space
          = f.submit "Sign Up", class: 'btn btn-primary btn-block'
        = render :partial => "devise/shared/links"

