= simple_form_for @purchase_order do |f|
  - if @purchase_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@purchase_order.errors.count, "error")} prohibited this purchase_order from being saved:"
      %ul
        - @purchase_order.errors.full_messages.each do |msg|
          %li= msg

  = f.simple_fields_for :purchase_line_items do |l|
    = l.input :quantity, input_html: {class: 'form-control' }
    = l.input :measurement, collection: Recipe::SOLID_MEASUREMENTS, input_html: {class: 'form-control' }
    = l.association :material, collection: Material.all.map { |m| ["#{m.materiable_type} - #{m.materiable.name}", m.id]}, input_html: {class: 'form-control' }
  .space
  = f.submit 'Save', class: 'btn-primary btn-block btn'
