.container
  .row
    .col-lg-6.col-lg-offset-3
      .center
        %h1 Editing purchase_order

      = render 'form'

      = link_to 'Show', @purchase_order
      \|
      = link_to 'Back', purchase_orders_path
