.container
  .row
    .col-lg-12
      - content_for :title, "Fermentables"
      .center
        %h1 Purchase Orders
      .col-lg-5
        = link_to 'New Purchase Order', new_purchase_order_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Vendor
          %th Type
          %th Name
          %th Quantity
          %th
          %th
          %th

        - @purchase_orders.each do |purchase_order|
          %tr
            %td= purchase_order.vendor_id
            %td= purchase_order.purchase_line_items.first.material.materiable_type
            %td= purchase_order.purchase_line_items.first.material.materiable.name
            %td= purchase_order.purchase_line_items.first.quantity
            %td= link_to 'Show', purchase_order, class: 'btn btn-sm btn-info'
            %td= link_to 'Edit', edit_purchase_order_path(purchase_order), class: 'btn btn-default btn-sm'
            %td= link_to 'Destroy', purchase_order, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default btn-sm'
