%p#notice= notice

%p
  %b Vendor:
  = @purchase_order.vendor_id
%p
  %b Tenant:
  = @purchase_order.tenant_id

= link_to 'Edit', edit_purchase_order_path(@purchase_order)
\|
= link_to 'Back', purchase_orders_path
