= simple_form_for @hop do |f|
  - if @hop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hop.errors.count, "error")} prohibited this hop from being saved:"
      %ul
        - @hop.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-lg-12
      = f.input :beta, input_html: { class: "form-control" }
  .row
    .col-lg-12
      = f.input :alpha, input_html: { class: "form-control" }
  .row
    .col-lg-12
      = f.input :name, input_html: { class: "form-control" }
  .row
    .col-lg-12
      = f.input :form, input_html: { class: "form-control" }, collection: Hop::HOP_FORMS
  .row
    .col-lg-12
      = f.input :origin, input_html: { class: "form-control" }
  .row
    .col-lg-12
      = f.input :usage, input_html: { class: "form-control" }, collection: Hop::HOP_USAGE
  .row
    .col-lg-5
      = f.input :price, input_html: { class: "form-control" }
    .col-lg-7
      = f.input :price_per_unit, input_html: { class: "form-control" }, collection: Recipe::SOLID_MEASUREMENTS, label: "Per Unit"
  .space
  .row
    .col-lg-12
      = f.submit 'Save', class: 'btn btn-primary btn-block'
