.container
  .row
    .col-lg-12
      - content_for :title, "Hops"
      .center
        %h1 Listing Hops
      .col-lg-5
        = link_to 'New Hop', new_hop_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Beta
          %th Alpha
          %th Name
          %th Form
          %th Origin
          %th Usage
          %th Price
          %th
          %th
          %th

        - @hops.each do |hop|
          %tr
            %td= hop.beta
            %td= hop.alpha
            %td= hop.name
            %td= hop.form
            %td= hop.origin
            %td= hop.usage
            %td= hop.price
            %td= link_to 'Show', hop, class: "btn btn-info btn-sm"
            %td= link_to 'Edit', edit_hop_path(hop), class: "btn btn-default btn-sm"
            %td= link_to 'Destroy', hop, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
