%p#notice= notice

%p
  %b Beta:
  = @hop.beta
%p
  %b Alpha:
  = @hop.alpha
%p
  %b Name:
  = @hop.name
%p
  %b Form:
  = @hop.form
%p
  %b Origin:
  = @hop.origin
%p
  %b Usage:
  = @hop.usage
%p
  %b Price:
  = @hop.price
%p
  %b Tenant:
  = @hop.tenant

= link_to 'Edit', edit_hop_path(@hop)
\|
= link_to 'Back', hops_path
