= simple_form_for @recipe do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name, input_html: { class: 'form-control' }
  = f.input :size, input_html: { class: 'form-control' }
  = f.input :description, input_html: { class: 'form-control' }
  = f.input :fermentation_time, input_html: { class: 'form-control' }
  .center
    %h3
      Hops
  = f.simple_fields_for :recipe_hops do |rh|
    .col-lg-3
      = rh.input :quantity, input_html: { class: 'form-control' }
    .col-lg-3
      = rh.input :measurement, input_html: { class: 'form-control' }, collection: Recipe::SOLID_MEASUREMENTS
    .col-lg-3
      = rh.association :hop, input_html: { class: 'form-control' }
  .clearfix
  .center
    %h3
      Fermentables
  = f.simple_fields_for :recipe_fermentables do |rf|
    .col-lg-3
      = rf.input :quantity, input_html: { class: 'form-control' }
    .col-lg-3
      = rf.input :measurement, input_html: { class: 'form-control' }, collection: Recipe::SOLID_MEASUREMENTS
    .col-lg-3
      = rf.association :fermentable, input_html: { class: 'form-control' }
  .clearfix
  .center
    %h3
      Yeasts
  = f.simple_fields_for :recipe_yeasts do |ry|
    .col-lg-3
      = ry.input :quantity, input_html: { class: 'form-control' }
    .col-lg-3
      = ry.input :measurement, input_html: { class: 'form-control' }, collection: Recipe::LIQUID_MEASUREMENTS
    .col-lg-3
      = ry.association :yeast, input_html: { class: 'form-control' }
  .clearfix
  .space
  = f.submit 'Save', class: 'btn btn-block btn-primary'
