.container
  .row
    .col-lg-12
      - content_for :title, "Recipes"
      .center
        %h1 Listing Recipes
      .col-lg-5
        = link_to 'New Recipe', new_recipe_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Name
          %th Size
          %th Description
          %th Fermentation time
          %th Batch Cost
          %th Keg Cost
          %th
          %th
          %th

        - @recipes.each do |recipe|
          %tr
            %td= recipe.name
            %td= recipe.size
            %td= recipe.description
            %td= recipe.fermentation_time
            %td= number_to_currency recipe.total_cost
            %td= number_to_currency recipe.cost_per_keg
            %td= link_to 'Show', recipe, class: 'btn btn-info btn-sm'
            %td= link_to 'Edit', edit_recipe_path(recipe), class: 'btn btn-default btn-sm'
            %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
