%p#notice= notice

%p
  %b Size:
  = @recipe.size
%p
  %b Description:
  = @recipe.description
%p
  %b Tenant:
  = @recipe.tenant_id
%p
  %b Fermentation time:
  = @recipe.fermentation_time

= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
