= simple_form_for @fermentable do |f|
  - if @fermentable.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fermentable.errors.count, "error")} prohibited this fermentable from being saved:"
      %ul
        - @fermentable.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-lg-12
      = f.input :name, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :type_of, input_html: { class: 'form-control' }, collection: Fermentable::FERMENTABLE_TYPES
  .row
    .col-lg-12
      = f.input :yield, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :color, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :notes, input_html: { class: 'form-control' }
  .row
    .col-lg-5
      = f.input :price, input_html: { class: 'form-control' }
    .col-lg-7
      = f.input :price_per_unit, input_html: { class: 'form-control' }, collection: Recipe::SOLID_MEASUREMENTS
  .space
  .row
    .col-lg-12
      = f.submit 'Save', class: 'btn btn-primary btn-block'
