.container
  .row
    .col-lg-6.col-lg-offset-3
      .center
        %h1 Editing fermentable

      = render 'form'

      = link_to 'Show', @fermentable
      \|
      = link_to 'Back', fermentables_path
