.container
  .row
    .col-lg-12
      - content_for :title, "Fermentables"
      .center
        %h1 Listing Fermentables
      .col-lg-5
        = link_to 'New Fermentable', new_fermentable_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Name
          %th Type of
          %th Yield
          %th Color
          %th Notes
          %th Price
          %th
          %th
          %th

        - @fermentables.each do |fermentable|
          %tr
            %td= fermentable.name
            %td= fermentable.type_of
            %td= fermentable.yield
            %td= fermentable.color
            %td= fermentable.notes
            %td= fermentable.price
            %td= link_to 'Show', fermentable, class: "btn btn-info btn-sm"
            %td= link_to 'Edit', edit_fermentable_path(fermentable), class: "btn btn-default btn-sm"
            %td= link_to 'Destroy', fermentable, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
