%p#notice= notice

%p
  %b Name:
  = @fermentable.name
%p
  %b Type of:
  = @fermentable.type_of
%p
  %b Yield:
  = @fermentable.yield
%p
  %b Color:
  = @fermentable.color
%p
  %b Notes:
  = @fermentable.notes
%p
  %b Price:
  = @fermentable.price
%p
  %b Tenant:
  = @fermentable.tenant

= link_to 'Edit', edit_fermentable_path(@fermentable)
\|
= link_to 'Back', fermentables_path
