.navbar.navbar-inverse
  .container
    .row
      .col-lg-12
        .navbar-header
          %button{type: "button", class: "navbar-toggle", :"data-toggle" => "collapse", :"data-target" => "#bs-navbar-collapse"}
            %span{class: "sr-only"}
              Toggle navigation
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
          %a.navbar-brand{href:main_app.root_path}
            ProBrewTech
        .navbar-collapse.collapse#bs-navbar-collapse
          %ul.nav.navbar-nav.pull-right
            %li
              %strong
              = link_to "Home", main_app.root_path
            - if current_user
              %li
                = link_to "Dashboard", user_root_path_path
              %li
                = link_to "Invite Employees", new_member_path
              %li
                = link_to "Sign out", destroy_user_session_path, method: "delete"
              /%li.dropdown
              /  %a.dropdown-toggle{href: "#", :"data-toggle" => "dropdown"}
              /    .glyphicon.glyphicon-user
              /    /= current_user.name
              /    %b.caret
              /  %ul.dropdown-menu
            - else
              %li
                = link_to "Sign up", new_user_registration_path
              %li
                = link_to "Sign in", new_user_session_path

         

