= content_tag :div, "", id: "weekly_demand", data: {demand: Demand.weekly_demand }
.container
  .row
    .col-lg-8.col-lg-offset-2
      .center
        %h2
          Demand per Week
      #demand_chart
      .clearfix
      Demand for Next Week:
      %b= Demand.demand_for_week
