.container
  .row
    .col-lg-6.col-lg-offset-3
      .center
        %h2 
          Sign in
      .flash
        - flash.each do |type, message|
          %div{ :class => "message #{type}" }
            %p= message
      - flash.clear  # clear contents so we won't see it again

      = simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
        = f.input :email, input_html: { class: 'form-control' }
        = f.input :password, input_html: { class: 'form-control' }
        - if devise_mapping.rememberable?
          = f.input :remember_me, label: "Remember Me", as: :boolean
        .group.wat-cf
        = f.submit "Login", class: "btn btn-primary btn-block"
      = render :partial => "devise/shared/links"
