= simple_form_for @beer do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer.errors.count, "error")} prohibited this beer from being saved:"
      %ul
        - @beer.errors.full_messages.each do |msg|
          %li= msg

  = f.association :recipe, input_html: { class: 'form-control' }
  = f.input :quantity, input_html: { class: 'form-control' }
  .space
  = f.submit 'Save', class: 'btn btn-primary btn-block'
