.container
  .row
    .col-lg-12
      - content_for :title, "Fermentables"
      .center
        %h1 Beer
      .col-lg-5
        = link_to 'Brew Beer', new_beer_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Recipe
          %th Quantity
          %th
          %th
          %th

        - @beers.each do |beer|
          %tr
            %td= beer.recipe.name
            %td= beer.quantity
            %td= link_to 'Show', beer, class: 'btn btn-info btn-sm'
            %td= link_to 'Edit', edit_beer_path(beer), class: 'btn btn-default btn-sm'
            %td= link_to 'Destroy', beer, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
