= content_tag :div, "", id: "weekly_revenue", data: {revenue: SalesOrder.expenses_and_revenue_by_week }
.container
  .row
    .col-lg-8.col-lg-offset-2
      .center
        %h2
          Revenue And Expenses Per Week
      #revenues_chart
