= simple_form_for @yeast do |f|
  - if @yeast.errors.any?
    #error_explanation
      %h2= "#{pluralize(@yeast.errors.count, "error")} prohibited this yeast from being saved:"
      %ul
        - @yeast.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-lg-12
      = f.input :name, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :product, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :laboratory, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :form, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :attenuation, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :type_of, input_html: { class: 'form-control' }
  .row
    .col-lg-12
      = f.input :notes, input_html: { class: 'form-control' }
  .row
    .col-lg-6
      = f.input :price, input_html: { class: 'form-control' }
    .col-lg-6
      = f.input :price_per_unit, input_html: { class: 'form-control' }, collection: Recipe::LIQUID_MEASUREMENTS
  .space
  .row
    .col-lg-12
      = f.submit 'Save', class: 'btn btn-primary btn-block'
