.container
  .row
    .col-lg-12
      - content_for :title, "Yeasts"
      .center
        %h1 Listing Yeasts
      .col-lg-5
        = link_to 'New Yeast', new_yeast_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Name
          %th Product
          %th Laboratory
          %th Form
          %th Attenuation
          %th Type of
          %th Notes
          %th Price
          %th
          %th
          %th

        - @yeasts.each do |yeast|
          %tr
            %td= yeast.name
            %td= yeast.product
            %td= yeast.laboratory
            %td= yeast.form
            %td= yeast.attenuation
            %td= yeast.type_of
            %td= yeast.notes
            %td= yeast.price
            %td= link_to 'Show', yeast, class: 'btn btn-info btn-sm'
            %td= link_to 'Edit', edit_yeast_path(yeast), class: 'btn btn-default btn-sm'
            %td= link_to 'Destroy', yeast, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
