%p#notice= notice

%p
  %b Name:
  = @yeast.name
%p
  %b Product:
  = @yeast.product
%p
  %b Laboratory:
  = @yeast.laboratory
%p
  %b Form:
  = @yeast.form
%p
  %b Attenuation:
  = @yeast.attenuation
%p
  %b Type of:
  = @yeast.type_of
%p
  %b Notes:
  = @yeast.notes
%p
  %b Price:
  = @yeast.price
%p
  %b Tenant:
  = @yeast.tenant_id

= link_to 'Edit', edit_yeast_path(@yeast)
\|
= link_to 'Back', yeasts_path
