= form_for @material do |f|
  - if @material.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material.errors.count, "error")} prohibited this material from being saved:"
      %ul
        - @material.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :quantity
    = f.text_field :quantity
  .field
    = f.label :measurement
    = f.text_field :measurement
  .field
    = f.label :materiable_id
    = f.number_field :materiable_id
  .field
    = f.label :materiable_type
    = f.text_field :materiable_type
  .field
    = f.label :tenant_id
    = f.number_field :tenant_id
  .actions
    = f.submit 'Save'
