.container
  .row
    .col-lg-12
      - content_for :title, "Fermentables"
      .center
        %h1 Listing Fermentables
      .col-lg-5
        = link_to 'New Fermentable', new_fermentable_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Quantity
          %th Measurement
          %th Name
          %th Material Type
          %th

        - @materials.each do |material|
          %tr
            %td= material.quantity
            %td= material.measurement
            %td= material.materiable.name
            %td= material.materiable_type
            %td= link_to 'Show', material
