%p#notice= notice

%p
  %b Quantity:
  = @material.quantity
%p
  %b Measurement:
  = @material.measurement
%p
  %b Materiable:
  = @material.materiable_id
%p
  %b Materiable type:
  = @material.materiable_type
%p
  %b Tenant:
  = @material.tenant_id

= link_to 'Edit', edit_material_path(@material)
\|
= link_to 'Back', materials_path
