.container
  .row
    .col-lg-12
      - content_for :title, "Finished Goods"
      .center
        %h1 Finished Goods
        .space
      %table.table.table-hover
        %tr
          %th Quantity
          %th Measurement
          %th Name
          %th Brew Date

        - @finished_goods.each do |finished_good|
          %tr
            %td= finished_good.quantity
            %td= finished_good.measurement
            %td= finished_good.recipe.name
            %td= finished_good.created_at
