.container
  .row
    .col-lg-6.col-lg-offset-3
      .center
        Weekly Labor Cost:  
        %b= number_to_currency Member.weekly_labor_cost
        .clearfix
        Avg Weekly Beer Cost:
        %b= number_to_currency Beer.weekly_cost
        .clearfix
        Total Weekly Costs:
        %b= number_to_currency Beer.weekly_cost + Member.weekly_labor_cost
        .clearfix
        Avg Weekly Revenue: 
        %b= number_to_currency SalesOrder.weekly_revenue
        .clearfix
        Avg Weekly Profit:
        %b= number_to_currency SalesOrder.weekly_revenue - (Beer.weekly_cost + Member.weekly_labor_cost)



