= simple_form_for @sales_order do |f|
  - if @sales_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sales_order.errors.count, "error")} prohibited this sales_order from being saved:"
      %ul
        - @sales_order.errors.full_messages.each do |msg|
          %li= msg

    
  = f.simple_fields_for :sales_line_items do |sl|
    = sl.association :beer, input_html: { class: 'form-control'}, collection: Beer.all.map { |b| ["#{b.recipe.name}", b.id] }
    = sl.input :quantity, input_html: { class: 'form-control' }
    = sl.input :measurement, collection: SalesLineItem::MEASUREMENT_TYPES, input_html: { class: 'form-control' }
  .space
  = f.submit 'Save', class: 'btn btn-primary btn-block'
