.container
  .row
    .col-lg-6.col-lg-offset-3
      .center
        %h1 Editing sales_order

      = render 'form'

      = link_to 'Show', @sales_order
      \|
      = link_to 'Back', sales_orders_path
