.container
  .row
    .col-lg-12
      - content_for :title, "Fermentables"
      .center
        %h1 Sales Orders
      .col-lg-5
        = link_to 'New Sales Order', new_sales_order_path, class: "btn btn-primary"
        .space
      %table.table.table-hover
        %tr
          %th Customer
          %th Name
          %th Quantity
          %th Type
          %th
          %th
          %th

        - @sales_orders.each do |sales_order|
          %tr
            %td= sales_order.customer_id
            %td= sales_order.sales_line_items.first.beer.recipe.name
            %td= sales_order.sales_line_items.first.quantity
            %td= sales_order.sales_line_items.first.measurement
            %td= link_to 'Show', sales_order
