%p#notice= notice

%p
  %b Customer:
  = @sales_order.customer_id
%p
  %b Tenant:
  = @sales_order.tenant_id

= link_to 'Edit', edit_sales_order_path(@sales_order)
\|
= link_to 'Back', sales_orders_path
