!!!
%html
  %head
    %title
      ProBrewTech
    = stylesheet_link_tag "application", media: "all", :"data-turbolinks-track" => true
    = javascript_include_tag "application", :"data-turbolinks-track" => true
    = javascript_include_tag params[:controller], "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = yield
