.container
  .row
    .col-lg-6.col-lg-offset-3
      = simple_form_for @member do |f|
        = f.input :first_name, input_html: { class: "form-control" }
        = f.input :last_name, input_html: { class: "form-control" }
        = f.association :position, input_html: { class: "form-control" }
        .space
        = f.submit "Update Employee", class: "btn btn-primary btn-block"
