.container
  .row
    .col-lg-12
      - content_for :title, "Employees"
      .col-lg-5
        = link_to "Add New Employee", new_member_path, class: "btn btn-primary"
      %table.table.table-hover
        %thead
          %tr
            %th First Name
            %th Last Name
            %th Position
        %tbody
          - @members.each do |member|
            %tr
              %td= member.first_name
              %td= member.last_name
              - if member.position.present?
                %td= member.position.name
              - else
                %td None
              %td= link_to "Edit Employee", edit_member_path(member.id), class: "btn btn-default btn-sm"
