.container
  .row
    .col-lg-6.col-lg-offset-3
      %h2 
        Invite a new member into 
        = @org_name
      .content.login
        .flash
          - flash.each do |type, message|
            %div{ class: "message #{type}" }
              %p= message
        - flash.clear

        = simple_form_for @member do |f|
          - unless @member.errors.empty? && @user.errors.empty?
            #errorExplanation.group
              %ul
                = @member.errors.full_message.uniq.inject(''){|str, msg| (str << "<li> #{msg}") }.html_safe
                = @user.errors.full_message.uniq.inject(''){|str, msg| (str << "<li> #{msg}") }.html_safe
          = simple_fields_for :user do |w|
            = w.input :email, input_html: { class: 'form-control' }

          = f.input :first_name, input_html: { class: 'form-control' }
          = f.input :last_name, input_html: { class: 'form-control' }
          .space
          = f.submit "Create user and Invite", class: 'btn btn-primary btn-block'


